{% extends 'SegayPayBundlePaymentBundle:Layout:base.html.twig' %}

{% block body %}



<div class="row">

    <div class="col-md-12">

        <div class="page-header">
            <h1>  Configraci&oacuten </h1>
        </div>


        <div>

            <blockquote>
                <p>   Agregar tu ip publica en  : <b> <a href="https://testportal.sagepay.com/mysagepay/login.msp"> sagepay  </a> </b> </p>

                <p> <b>Vendor Name :</b> ormondejayne</p>
                <p> <b>User Bame :</b> developer</p>
                <p> <b>Password:</b> OrmondeJayne2016!</p>
                <p>  Tab  <b>Settings</b> ->Menu izquierdo  <b>Valids IPS</b> </p>

            </blockquote>


        </div>



        <div>

            <blockquote>
                <p>Las librerias de sagpay estan ubicadas en la carpeta SegaPayLib</p>
                En el archivo de composer agregar <code>   "classmap": [
                    "src/SegaPayLib",
                    "src/SegaPayLib/classes"
                    ]</code>

            </blockquote>


        </div>

        <div>
            <blockquote>

                la clave del api configurarla en <b>SegaPayLib/config.php</b><code>

                    'formPassword' =>
                    array(
                    'test' => 'iKijly0BiUN0XCnOSRrBxrN7CI6O9qGqIQL39wrJL8xUJf6keeDcJ1BOqgNMXVurC',
                    'live' => '',
                    ),</code>
            </blockquote>
        </div>






    </div>
</div>


    <div class="row">

        <div class="col-md-6 text-right">

            <form action="/success">
                <button type="submit"  class="bt btn-default btn-lg">  Test Exito </button>
            </form>

        </div>
        <div class="col-md-6 text-left">

            <form action="/fail">
              <button type="submit"  class="bt btn-default btn-lg">  Test Fallo </button>
            </form>
        </div>


    </div>



    <div class="row">




        {% if response is defined %}



        <div class="col-md-12">

            <div>
                Status : <h1> {{ response['Status']  }} </h1>
            </div>

            <blockquote>
            {{    response | json_encode()  }}
            </blockquote>
        </div>

        {% endif %}






    </div>







{% endblock %}