{% extends 'SegayPayBundlePaymentBundle:Layout:base.html.twig' %}

{% block body %}



<div class="row">

    <div class="col-md-12">

        <div class="page-header">
            <h1> Result Transaction </h1>
        </div>


        <div>

            <blockquote>
                <p>  Result Internal Code  : <b>   {{ vtx }} </b> </p>

                <p> <b>Transaction :</b> </p>


            </blockquote>


        </div>






    </div>
</div>









{% endblock %}